{% extends "layout.twig" %}

{% block desc %}
<title>Сольфеджио онлайн</title>
<meta name="description" content="Страница не найдена">
{% endblock %}

{% block content %}      
<p>Страница не найдена</p>
{% endblock %}