{% extends "layout.twig" %}

{% block desc %}
<title>Сольфеджио онлайн</title>
<meta name="description" content="Сольфеджио-онлайн - онлайн-тренажер для занятий сольфеджио. Если Вы интересуетесь музыкой, но нет времени или денег на занятие с преподавателем сольфеджио, наш тренажер для Вас.">
{% endblock %}

{% block content %}      

<article itemscope itemtype="http://schema.org/Article" class="text-block">
    <h1 itemprop="headline">Сольфеджио онлайн</h1> 
    
    <div itemprop="articleBody">
    
        <p><b>Сольфеджио.Онлайн</b> &ndash; бесплатный онлайн-тренажер для занятий сольфеджио.</p>
        <p>Если Вы интересуетесь музыкой, но у Вас нет времени или денег на занятия с преподавателем сольфеджио, то наш тренажер для Вас.</p>
        <p><b>Сольфеджио.Онлайн</b> предоставляет виртуальное фортепиано на 5 октав, на котором можно играть, кликая мышкой или нажимая клавиши на клавиатуре компьютера.</p>
        <p>Для занятий сольфеджио мы предоставляем следующие тренажеры:</p>
        <hr>
        <div class="primary-items">

            <section>
                <h2>Тренажер &laquo;Угадай ноту&raquo;</h2>	
                <a href="/тренажер/ноты"><img src="/assets/img/note.svg" width="128" height="128"></a>		
                <p>Играется случайная нота на фортепиано, и Вы должны ее угадать, нажав на клавиатуре.</p>
                <a class="button button--primary" href="/тренажер/ноты">Начать!</a>
            </section>
            
            <section>
                <h2>Тренажер &laquo;Угадай интервал&raquo;</h2>
                <a href="/тренажер/интервалы"><img src="/assets/img/interval.svg" width="128" height="128"></a>
                <p>Играется случайный интервал, и Вы должны его угадать, выбрав на экране.</p>
                <a class="button button--primary" href="/тренажер/интервалы">Начать!</a>
            </section>
            
            <section>
                <h2>Тренажер &laquo;Мажор / минор&raquo;</h2>
                <a href="/тренажер/мажор-минор"><img src="/assets/img/mindur.svg" width="128" height="128"></a>
                <p>Играется случайное минорное или мажорное трезвучие, и Вы должны его угадать, выбрав на экране.</p>
                <a class="button button--primary" href="/тренажер/мажор-минор">Начать!</a>
            </section>
                
            <section>
                <h2>Тренажер &laquo;Музыкальный диктант&raquo;</h2>
                <a href="/тренажер/диктант"><img src="/assets/img/dictant.svg" width="128" height="128"></a>
                <p>Играется последовательность нот, и Вы должны ее повторить, нажав последовательно клавиши на клавиатуре виртуального фортепиано.</p>
                <a class="button button--primary" href="/тренажер/диктант">Начать!</a>
            </section>
        	
        </div>
        <hr>
        <p>Также на нашем сайте Вы можете пройти <a href="/тесты/">тесты</a> по музыкальной грамоте и пройти <a href="/обучение/">обучение</a> по теории музыки.</p>
        <p>Или Вы просто можете <a href="/тренажер/игра">поиграть</a> на клавиатуре фортепиано онлайн и сохранить свою мелодию.</p>
    </div>
</article>
{% endblock %}