{% extends "layout.twig" %}

{% block desc %}
<title>Сольфеджио онлайн - музыкальные тренажеры</title>
<meta name="description" content="Тренажеры по сольфеджио онлайн: мажор / минор; определить ноту, интервал; музыкальный диктант">
{% endblock %}

{% block content %}     
<div id="mode"> 
    <div class="grid">
        <div class="item">
            <a class="item__content" data-prevent href="игра">
                <img src="/assets/img/play.svg" alt="Игра" width="128" height="128">
                Игра
            </a>
        </div>
        <div class="item">
            <a class="item__content" data-prevent href="мажор-минор">
                <img src="/assets/img/mindur.svg" alt="Мажор / минор" width="128" height="128">
                Мажор / минор
            </a>
        </div>
        <div class="item">
            <a class="item__content" data-prevent href="ноты">
                <img src="/assets/img/note.svg" alt="Ноты" width="128" height="128">
                Ноты
            </a>
        </div>      
        <div class="item">
            <a class="item__content" data-prevent href="интервалы">
                <img src="/assets/img/interval.svg" alt="Интервалы" width="128" height="128">
                Интервалы
            </a>
        </div>    
        <div class="item">
            <a class="item__content" data-prevent href="диктант">
                <img src="/assets/img/dictant.svg" alt="Диктант" width="128" height="128">
                Диктант
            </a>
        </div>  
    </div>      
</div>
{% endblock %}

{% block scripts %}  
<script src="/assets/js/common.js"></script>
{% endblock %}