{% extends "layout.twig" %}

{% block desc %}
<title>Сольфеджио онлайн - музыкальные тренажеры</title>
<meta name="description" content="Тренажеры по сольфеджио онлайн: мажор / минор; определить ноту, интервал; музыкальный диктант">
{% endblock %}

{% block content %}     
<div id="mode"> 
    <div class="grid">
        <div class="item">
            <a class="item__content" href="игра">
                <img src="/assets/img/play.svg" alt="Игра" width="100" height="100">
                Игра
            </a>
        </div>
        <div class="item">
            <a class="item__content" href="мажор-минор">
                <img src="/assets/img/mindur.svg" alt="Мажор / минор" width="100" height="100">
                Мажор / минор
            </a>
        </div>
        <div class="item">
            <a class="item__content" href="ноты">
                <img src="/assets/img/note.svg" alt="Ноты" width="100" height="100">
                Ноты
            </a>
        </div>      
        <div class="item">
            <a class="item__content" href="интервалы">
                <img src="/assets/img/interval.svg" alt="Интервалы" width="100" height="100">
                Интервалы
            </a>
        </div>   
        <div class="item">
            <a class="item__content" href="трезвучия">
                <img src="/assets/img/accord.svg" alt="Трезвучия" width="100" height="100">
                Трезвучия
            </a>
        </div>  
        <div class="item">
            <a class="item__content" href="диктант">
                <img src="/assets/img/dictant.svg" alt="Диктант" width="100" height="100">
                Диктант
            </a>
        </div>  
    </div>      
</div>
{% endblock %}

{% block scripts %}  
<script src="/assets/js/common.js"></script>
{% endblock %}