{% extends "layout.twig" %}

{% block desc %}
<title>Сольфеджио.онлайн</title>
{% endblock %}

{% block content %}     
<div id="mode" ondragstart="return false;" ondrop="return false;"> 
</div>

<div class="vk">
    <a href="https://vk.com/solfeggio.online" target="_blank">
        <img width="40" height="40" src="/assets/img/VK.svg" alt="Сольфеджио.онлайн в контакте"/>
    </a>
</div>
{% endblock %}

{% block scripts %}  
<script src="/assets/js/common.js"></script>
{% endblock %}