{% extends "layout.twig" %}

{% block desc %}
<title>Сольфеджио.онлайн</title>
{% endblock %}

{% block content %}     
<div id="mode" ondragstart="return false;" ondrop="return false;"> 
</div>
{% endblock %}

{% block scripts %}  
<script src="/assets/js/common.js"></script>
{% endblock %}